.navbar__big-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__container, .navbar_container_addmarker {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    background-color: #f5eff1e3;
}

.navbar__title {
    font-weight: 700;
}